.row-fluid
  .span5
    .points-form.pull-left
      = render 'points_form'
    .clearfix
  .span4
    = render 'default_points_buttons'
.alert.alert-info.messages{ style: 'display: none' }
  %ul.unstyled