.pull-left
  .points-form= render 'points_form'
.offset1.pull-left
  %h4 Set Default Points
  .btn.colinear Colinear
  .btn.noncolinear Not Colinear
.clearfix
.alert.alert-info.messages{ style: 'display: none' }
  %ul